<div id="wrapper">

        <!-- Sidebar 
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
                <li>
                    <a href="#update">Update</a>
                </li>
                <li>
                    <a href="#">Remove</a>
                </li>
                
            </ul>
        </div>
     /#sidebar-wrapper 

        <!-- Page Content
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">

                        <form action="/home/">
                                <h3>Student Details</h3>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" id="" placeholder="" name="fname">
                                  </div>

                                  <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control" id="" placeholder="" name="mdname">
                                  </div>

                                  <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="" placeholder="" name="lname">
                                  </div>

                                 <div class="form-group">
                                    <label>ID Number</label>
                                    <input type="text" class="form-control" id="" placeholder="" name="idno">
                                  </div>

                                  <div class="form-group">
                                    <label for="Email1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
                                  </div>

                                  <div class="form-group">
                                      <input type="submit" class="btn btn-primary pull-right" value=" Register">
                                  </div>
                        </form>
                    </div>
                </div>
                <br><br><br><br><br><br><br>


                <div class="row" id="update">
                    <div class="col-lg-8">
                        <form>
                                <h3>Update Student Information</h3>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                  </div>

                                  <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                  </div>

                                  <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                  </div>

                                 <div class="form-group">
                                    <label>ID Number</label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                  </div>

                                  <div class="form-group">
                                    <label for="Email1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                  </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <br><br><br><br><br><br><br> <br><br><br><br><br><br><br>
     /#page-content-wrapper -->

    </div>
 <!--/#wrapper -->

 <div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
